*{
	box-sizing: border-box;
}


}

body{
	margin: 0 auto;
	width: 960px;
}

#wrapper{
	overflow: auto;
	}

#header{
	background-color: #ffffff;
	border-color: #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#logo{
	float: left;
	background-color: #4aaaa5;
	color: #ffffff;
	width: 16.1rem;
	height: 8rem;
	margin-left: 4rem;
}

h1{
	padding: 20px;
	font-size: 2em;
}

#nav-bar li a{
	float: right;
	display: inline;
	text-decoration: none;
	padding: 0.1rem;
	margin-right: 3.1rem;
}

ul{
	margin-right: 17rem;
	
}

/*main body*/

#main-body{
	
	height: 400px;
	background-color: #F2F2F2;
	border-color: black;

}

#about-me{
	background-color: #ffffff;
	float: left;
	position: absolute;
	height: 300px;
	width: 500px;
	margin: 4rem;
	padding: 15px;
}

h2{
	font-size: 2em;
	color: #4aaaa5;
	padding: 10px 10px 20px 10px;
}

.profile-pic{
	height: 150px;
	width: 150px;
	float: left;
	margin-right:3.1rem;
	position: relative;
	

}

p{
	position: relative;

	}

#connect-with-me{
	background-color: #ffffff;
	float: right;
	width: 200px;
	margin: 4rem 20rem 0rem 0rem;
	padding: 1rem;

}	


h3{
	padding-left: 30px;
	color: #4aaaa5;
	font-size: 1.2em;
}

#social img{
	width: 50px;
	height: 50px;
	padding: 10px;
}



footer{
	height: 4rem;
	
	border-color: #4aaaa5;
	background-color: #666666;
	clear: both;
}

h6{
	text-align: center;
	padding: 25px;
	color: #ffffff;
}



/*Contact-Page*/
#contact{
	background-color: #ffffff;
	float: left;
	position: absolute;
	height: 300px;
	width: 500px;
	margin: 4rem;
	padding: 15px;
}

/*porfolio-page*/
#portfolio{
	background-color: #ffffff;
	float: left;
	position: absolute;
	height: 300px;
	width: 500px;
	margin: 4rem;
	padding: 15px;
}

#gallery img{
	height: 125px;
	width: 125px;
	padding: 20px;
}

